$base-size: 12px;

$color-1: #fefefe; //white
$color-2: #000000; //black
$color-3: #a8d7da; //light blue
$color-4: #bbbbbb; //light gray

//button
$button-bg-color-dark: $color-2;
$button-bg-color-white: $color-3;
$button-text-color: $color-1;

//navbar
$navbar-bg-color: $color-1;

//banner
$banner-text-color: $color-1;